/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

img {
    height: 100%;
}

/* Body */
.body-wrapper {
    display: flex;
    font-family: 'Barlow', sans-serif;
}

.body-wrapper > section {
    width: 50vw;
}

/* Image */
.img-wrapper {
    padding: 5%;
}

.img-wrapper > img {
    border: 5px solid #1C7293;
    border-radius: 50px;
}

/* Content */
.content-wrapper {
    width: 100vh;
}

.user-input {
    
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-wrapper {
    width: 60%;
    background-color: #21295C;
    padding: 5%;
    border-radius: 15px;
}

.output-form {
    display: flex;
    flex-direction: column;
}

.output {
    display: flex;
    justify-content: space-between;
    margin: 5% 0%;
}

.output > label {
    width: 50%;
    margin-right: 1%;
    color: #FFFFFF;
}

.output > p {
    padding: 10px 5px;
    border: 2px solid #1C7293;
    width: 70%;
    height: auto;
    background-color: #FFFFFF;
}

.bored-wrapper {
    display: flex;
    width: 60%;
    padding: 5%;
    justify-content: center;
}

.todo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

/* Login */

.login-body-wrapper {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    font-family: 'Barlow', sans-serif;
    margin-top: 50px;
}

.login-body-wrapper h1 {
    font-size: 25px;
    color: #363f7b;
}

.login-body-wrapper > div {
    flex-grow: 1;
}

.login-wrapper {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.login-form > div {
    margin: 20px 0px;
}

.account-wrapper {
    width: 100%;
}

.account-wrapper span {
    text-decoration: underline;
    color: #21295C;
}

.account-wrapper span:hover {
    cursor: pointer;
    color: #363f7b;
}

/* Sign up */
.signup-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 70%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.close-wrapper {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close-wrapper:hover, .close-wrapper:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.signup-content-wrapper {
    zoom: 120%;
	background-color: #fefefe;
    margin: 5vh 30vw;
    padding: 20px; 
    border: 1px solid #888;
    border-radius: 20px;
    width: 30%;
}

.hide {
    display: none;
}

/* Utilities */
.btn {
    padding: 10px 30px;
    margin: 10px 0px;
    background-color: #21295C;
    color: #FFFFFF;
    border: 0px;
    border-radius: 15px;
}

.btn:hover {
    cursor: pointer;
    background-color: #363f7b;
}

.center-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider {
    border-bottom: 3px solid #1C7293;
    width: 70%;
    margin: 20px 0px;
}

.input-form label {
    color: #21295C;
    margin-right: 10px;
}

.input-text {
    padding: 5px 5px;
    border-color: #1C7293;
}


/* Media Query */
@media screen and (max-width: 800px) {
    .body-wrapper {
        flex-direction: column;
    }

    .body-wrapper > section {
        width: 100%;
    }
}


@media screen and (max-width: 1100px) {
    .column {
        flex-direction: column;
    }

    .column > p {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .max-width {
         width: 50vw; 
         margin: 5vh 10vw;
         padding: 10px;
    }

    .max-width  input {
        width: 100%;
    }
}