/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

img {
    height: 100%;
}

/* Body */
.body-wrapper {
    display: flex;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
}

.body-wrapper > section {
    width: 50vw;
}

/* Image */
.img-wrapper {
    padding: 10%;
    
}

/* Content */
.content-wrapper {
    
}

.user-input {
    
}

.input-form {

}

.input-form > label {
    color: #1C7293;
    margin-right: 10px;
}

.input-text {
    padding: 5px 5px;
    border-color: #1C7293;
}

.btn {
    padding: 10px 30px;
    margin: 10px 0px;
    background-color: #21295C;
    color: #FFFFFF;
    border: 0px;
    border-radius: 15px;
}

.output-wrapper {
    width: 60%;
    background-color: #21295C;
    padding: 5%;
    border-radius: 15px;
}

.output-form {
    display: flex;
    flex-direction: column;
}

.output {
    display: flex;
    justify-content: space-between;
    margin: 5% 0%;
}

.output > label {
    width: 50%;
    margin-right: 1%;
    color: #FFFFFF;
}

.output > p {
    padding: 5px 5px;
    border: 2px solid #1C7293;
    width: 70%;
    height: 30px;
    background-color: #FFFFFF;
}


/* Utilities */
.center-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider {
    border-bottom: 3px solid #1C7293;
    width: 70%;
    margin: 20px 0px;
}


/* Media Query */


